.footer {
    width: 100%;
    color: #ffffff;
    background: #000000;
    padding-bottom: 24px;
}
.Download-container {
    padding: 29px 26px 48px;
    flex-flow: row;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    border-bottom: 1px solid #979797;
    -webkit-transition: all 0.3s cubic-bezier;
    transition: all 0.3s cubic-bezier;
}
.logo-icon {
    width: 33px;
}
.logo-text {
    width: 120px;
    margin-left: 6px;
    position: relative;
    top: -2px;
}
.footer-logo {
    display: block;
    position: absolute;
    left: 144px;
    top: 43px;
}
.footer-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    padding: 40px 0 0 378px;
}
.bottom-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 100px;
}
.copy-right {
    margin-top: 70px;

    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    line-height: 24px;
    color: #8a8b91;
}
