.wrapper {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 20px;
}
.menu-icon {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 99;
    margin-right: 20px;
}
.menu-icon-wrapper {
    height: 180%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: column;
    justify-content: space-between;
    padding: 20px 0;
    transform: scale(0.5);
    transform-origin: top;
}
.menu-icon-line {
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
    box-sizing: border-box;
    height: 3px;
    border-radius: 4px;
    background-color: #000000;
}
@media (max-width: 991px) {
    .menu-icon {
        margin: 0 !important;
    }
}
//menu
.drawer-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
