.Header {
    z-index: 1100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-sizing: border-box;
    width: 100%;
    position: fixed;
}
.transparent {
    box-shadow: none;
    border-bottom: none;
}
.drawer {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;

    padding: 0 20px 0 12px;
}
.logo-wrapper {
    flex-shrink: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 0 12px;
}
.menu-icon {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    cursor: pointer;
    z-index: 99;
}
.hamburger-menu-wrapper {
    height: 200%;
    box-sizing: border-box;
    background: transparent;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 24px 0;
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -ms-transform-origin: top;
    transform-origin: top;
}
.menu-icon {
    margin-right: 20px;
}
.hamburger-menu-wrapper span {
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
    box-sizing: border-box;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
}
.close span:nth-child(1) {
    transform: translateY(13px) rotate(-45deg);
    background-color: #000;
}
.close span:nth-child(2) {
    opacity: 0;
}
.close span:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
    background-color: #000;
}
//menu
.drawer-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-container {
    position: relative;
    flex: 0 0 auto;
}

.logo-link {
    position: relative;
    top: -2px;
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 28px;
}
.logo-link img {
    vertical-align: baseline;
}
.logo-sup {
    margin-left: 7px;
    height: 22px;
    position: relative;
    top: -2px;
}
.menu-wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu-item {
    flex-shrink: 0;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    line-height: 70px;
    cursor: pointer;
}
.menu-link a {
    color: #fff;
    display: inline-block;
}
.menu-wrapper > .menu-item + .menu-item {
    margin-left: 32px;
    margin-right: 12px;
}
