.Modal-content {
    min-height: 539px;
}
.Modal-header {
    width: 400px;
    padding: 20px 24px 16px 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
}
.close-wrpper {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    z-index: 1;
    cursor: pointer;
}

.Qr-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.h3-text {
    margin: 32px 0px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: auto;
    padding: 0px 24px;
}
.Qr-content {
    width: 185px;
    height: 185px;
    transform: translate(-50% -50%);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(22, 24, 35, 0.2);
}
.dowload-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
