.header-newroom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
}
.newroom-title {
    font-size: 57px;
    font-weight: 700;
    line-height: 1;
}
.newroom-header-right {
    padding-top: 4px;
}
