.drawer-content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 312px;
    min-height: 950px;
    background-color: #ffffff;
    padding: 21px 27px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    line-height: 32px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform 300ms;
    border-top: 70px solid #fff;
}
.drawer_done {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
}
.drawer-logo {
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
    height: 52px;
}
@media (max-width: 991px) {
    .drawer-content {
        width: 80%;
    }
}
