.content-contaider {
    margin-bottom: 8px;
    padding: 0;
}
.content-head-sidebar {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.text-item {
    color: rgb(22, 24, 35);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    margin-left: 8px;
}
.padding-icon {
    width: 32px;
    height: 32px;
    font-size: 24px;
    padding: 6px;
    padding: 4px;
}
.item-new {
    color: rgb(225, 225, 225);
    height: 20px;
    padding: 0px 8px;
    border-radius: 10px;
    background-color: rgb(254, 44, 85);
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 6px;
}
