.modalcontainer {
    z-index: 1001;
    position: fixed;
    inset: 0px;
    overflow: auto;
    outline: 0px;
    display: flex;
    overflow: auto;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.modal-Mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0px;
}
.div-center-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Div-content-container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: hidden;
    margin: auto;
}
