.newroom-list-container {
    margin-top: 64px;
    position: relative;
    min-height: 280px;
}
.newroom-aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
}
.newrom-list-wrapper {
    padding-left: 230px;
}
.fixed {
    position: fixed;
    top: 110px;
    left: auto;
}
.end {
    top: 80px;
}
